{% extends 'base.html' %}
{% load static %}
{% block title %}Virtual Stithians Show 2020{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 bg-white">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
{% endblock %}
{% block content %}

<div class="card mb-3 border-dark">
    <div class="card-header">To Enter</div>
    <div class="card-body text-dark">
        <p class="card-text">Please visit <a href="https://stithians.show/">https://stithians.show/</a> to download a schedule.</p>
        <p class="card-text">A gallery of entries will be available here after the closing date of <em>12 noon, Friday 10th July</em> with results published on Monday 13th July.</p>
    </div>
</div>

{% endblock %}
