{% extends 'base.html' %}
{% load static %}
{% block title %}Virtual Stithians Show - {{ showclass.name }}{% endblock %}
{% block scripts %}<link href="{% static "dist/photoswipe.css"%}?v=4.1.3-1.0.4" rel="stylesheet" />
    <link href="{% static "dist/default-skin/default-skin.css"%}?v=4.1.3-1.0.4" rel="stylesheet" />
    
    
      <script src="{% static "dist/photoswipe.min.js"%}?v=4.1.3-1.0.4"></script>
      <script src="{% static "dist/photoswipe-ui-default.min.js"%}?v=4.1.3-1.0.4"></script>{% endblock %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 bg-white">
        <li class="breadcrumb-item"><a href='/'>Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{showclass.name}}</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<h2>{{showclass.name}}</h2>
<p>{{showclass.description}}</p>

<div id='showclass-gallery' class='showclass-gallery'>
{% for entry in entries %}
{% if forloop.counter0|divisibleby:"3" %}
<div class='row'>
{% endif %}
<div class='col-sm-4 mb-4'>
    <div class='card'>
        {% if entry.entry.place == 1 %}<div class='card-header bg-first'><strong>FIRST</strong></div>{% endif %}
        {% if entry.entry.place == 2 %}<div class='card-header bg-second'><strong>SECOND</strong></div>{% endif %}
        {% if entry.entry.place == 3 %}<div class='card-header bg-third'><strong>THIRD</strong></div>{% endif %}
        {% if entry.entry.place == 4 %}<div class='card-header bg-commendation'><strong>HIGHLY COMMENDED</strong></div>{% endif %}
        <a href='{{entry.img.url}}' data-size='{{entry.img.width}}x{{entry.img.height}}' data-med='{{entry.thumbnail.url}}' data-med-size='{{entry.thumbnail.width}}x{{entry.thumbnail.height}}'>
            <img src='{{entry.thumbnail.url}}' alt='{{entry.entry.caption}}' class='card-img-top' style='width:100%;height:50vh;object-fit:cover'/>
        </a>
        <div class='card-body'>
            <h5 class='card-title'>{{entry.entry.title}}</h5>
            <p class='card-text'>{{entry.entry.caption}}</p>
            <p class='card-text'><small class='text-muted'>Entry no. {{entry.entry.entry_no}}{% if entry.entry.entryimage_set.all.count > 1 %}, picture {{entry.index_in_entry}} of {{entry.entry.entryimage_set.all.count}}{% endif %}</small></p>
            {% if showclass.show_age %}<p class='card-text'><small class='text-muted'>Age: {{entry.entry.age}}</small></p>{% endif %}
        </div>
        {% if entry.entry.comments %}<div class='card-footer'><h6 class='card-title text-muted'>Judge's comments</h6><p class='card-text'>{{entry.entry.comments}}</p></div>{% endif %}
    </div>
</div>
{% if forloop.last or forloop.counter|divisibleby:"3" %}
</div>
{% endif %}
{% endfor %}
</div>

{% endblock %}
{% block footer %}
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. 
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader__active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

  
    <script>
    var initPhotoSwipeFromDOM = function(gallerySelector) {

    // parse slide data (url, title, size ...) from DOM elements 
    // (children of gallerySelector)
    var parseThumbnailElements = function(el) {
        var thumbElements = el.childNodes,
            numNodes = thumbElements.length,
            items = [],
            figureEl,
            linkEl,
            size,
            item;

        thumbElements = Array();
        for(var i = 0; i < el.children.length; i++) {
            for(var j=0;j<el.children[i].children.length;j++) {
                thumbElements.push(el.children[i].children[j].children[0])
            }
        }
        numNodes = thumbElements.length;
        
        for(var i = 0; i < numNodes; i++) {

            figureEl = thumbElements[i]; // <figure> element

            // include only element nodes 
            if(figureEl.nodeType !== 1) {
                continue;
            }
            
            linkEl = figureEl.getElementsByTagName("a")[0]; // <a> element

            size = linkEl.getAttribute('data-size').split('x');

            // create slide object
            item = {
                src: linkEl.getAttribute('href'),
                w: parseInt(size[0], 10),
                h: parseInt(size[1], 10)
            };



            if(figureEl.getElementsByClassName('card-body').length > 0) {
                // <figcaption> content
                item.title = figureEl.getElementsByClassName('card-body')[0].innerHTML; 
            }

            if(linkEl.children.length > 0) {
                // <img> thumbnail element, retrieving thumbnail url
                item.msrc = linkEl.children[0].getAttribute('src');
            } 

            item.el = figureEl; // save link to element for getThumbBoundsFn
            items.push(item);
        }

        return items;
    };

    // find nearest parent element
    var closest = function closest(el, fn) {
        return el && ( fn(el) ? el : closest(el.parentNode, fn) );
    };

    // triggers when user clicks on thumbnail
    var onThumbnailsClick = function(e) {
        e = e || window.event;
        e.preventDefault ? e.preventDefault() : e.returnValue = false;

        var eTarget = e.target || e.srcElement;

        // find root element of slide
        var clickedListItem = closest(eTarget, function(el) {
            return (el.tagName && el.tagName.toUpperCase() === 'DIV' && el.getAttribute('class') === 'card');
        });

        if(!clickedListItem) {
            return;
        }

        // find index of clicked item by looping through all child nodes
        // alternatively, you may define index via data- attribute
        var clickedGallery = clickedListItem.parentNode.parentNode.parentNode,
            childNodes = clickedListItem.parentNode.childNodes,
            numChildNodes = childNodes.length,
            nodeIndex = 0,
            index;
        childNodes = Array();
        for(var i = 0; i < clickedGallery.children.length; i++) {
            for(var j=0;j<clickedGallery.children[i].children.length;j++) {
                childNodes.push(clickedGallery.children[i].children[j].children[0])
            }
        }
        numChildNodes = childNodes.length;
        for (var i = 0; i < numChildNodes; i++) {
            if(childNodes[i].nodeType !== 1) { 
                continue; 
            }

            if(childNodes[i] === clickedListItem) {
                index = nodeIndex;
                break;
            }
            nodeIndex++;
        }

        if(index >= 0) {
            // open PhotoSwipe if valid index found
            openPhotoSwipe( index, clickedGallery );
        }
        return false;
    };

    // parse picture index and gallery index from URL (#&pid=1&gid=2)
    var photoswipeParseHash = function() {
        var hash = window.location.hash.substring(1),
        params = {};

        if(hash.length < 5) {
            return params;
        }

        var vars = hash.split('&');
        for (var i = 0; i < vars.length; i++) {
            if(!vars[i]) {
                continue;
            }
            var pair = vars[i].split('=');  
            if(pair.length < 2) {
                continue;
            }           
            params[pair[0]] = pair[1];
        }

        if(params.gid) {
            params.gid = parseInt(params.gid, 10);
        }

        return params;
    };

    var openPhotoSwipe = function(index, galleryElement, disableAnimation, fromURL) {
        var pswpElement = document.querySelectorAll('.pswp')[0],
            gallery,
            options,
            items;

        items = parseThumbnailElements(galleryElement);

        // define options (if needed)
        options = {

            // define gallery index (for URL)
            galleryUID: galleryElement.getAttribute('data-pswp-uid'),

            getThumbBoundsFn: function(index) {
                // See Options -> getThumbBoundsFn section of documentation for more info
                var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                    pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                    rect = thumbnail.getBoundingClientRect(); 

                return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};
            }

        };

        // PhotoSwipe opened from URL
        if(fromURL) {
            if(options.galleryPIDs) {
                // parse real index when custom PIDs are used 
                // http://photoswipe.com/documentation/faq.html#custom-pid-in-url
                for(var j = 0; j < items.length; j++) {
                    if(items[j].pid == index) {
                        options.index = j;
                        break;
                    }
                }
            } else {
                // in URL indexes start from 1
                options.index = parseInt(index, 10) - 1;
            }
        } else {
            options.index = parseInt(index, 10);
        }

        // exit if index not found
        if( isNaN(options.index) ) {
            return;
        }

        if(disableAnimation) {
            options.showAnimationDuration = 0;
        }

        // Pass data to PhotoSwipe and initialize it
        gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
    };

    // loop through all gallery elements and bind events
    var galleryElements = document.querySelectorAll( gallerySelector );

    for(var i = 0, l = galleryElements.length; i < l; i++) {
        galleryElements[i].setAttribute('data-pswp-uid', i+1);
        galleryElements[i].onclick = onThumbnailsClick;
    }

    // Parse URL and open gallery if it contains #&pid=3&gid=1
    var hashData = photoswipeParseHash();
    if(hashData.pid && hashData.gid) {
        openPhotoSwipe( hashData.pid ,  galleryElements[ hashData.gid - 1 ], true, true );
    }
};

// execute above function
initPhotoSwipeFromDOM('.showclass-gallery');


	</script>
{% endblock %}
