{% extends 'base.html' %}
{% load static %}
{% block title %}Virtual Stithians Show 2020{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 bg-white">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
{% endblock %}
{% block content %}

{% for class in showclass_list %}
{% if forloop.first or forloop.counter0|divisibleby:"3" %}
<div class="row">
{% endif %}
    <div class="col-sm-4 mb-4">
        <div class="card">
            <a href="/class/{{class.slug}}">
                <img src="{{class.thumbnail.url}}" class="card-img-top" alt="{{class.name}}" style="width:100%;height:50vh;object-fit:cover">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{class.name}}</h5>
                <p class="card-text">{{class.description}}</p>
            </div>
        </div>
    </div>
{% if forloop.last or forloop.counter|divisibleby:"3" %}
</div>
{% endif %}
{% endfor %}

{% endblock %}
