{% extends 'base.html' %}
{% load static %}
{% block title %}Virtual Stithians Show 2021 - {{section.name}}{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0 bg-white">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{section.name}}</a>
    </ol>
</nav>
{% if banner %}
<div class='row'>
    <div class="col bg-warning">
        <p class='text-center mb-0'>{{banner|safe}}</p>
    </div>
</div>
{% endif %}
{% endblock %}
{% block content %}

<div class="row justify-content-center mb-3">
<div class="list-group col-md-6">
{% for class in showclass_list %}
    <a {% if public %}href="/class/{{class.slug}}"{% endif %} class="list-group-item list-group-item-action flex-column text-center">
        <h5 class="mb-1">{{class.name}}</h5>
        <p class="mb-1">{{class.description}}</p>
        <small>{{class.classentry_set.count}} entries</small>
    </a>
{% endfor %}
</div>
</div>
{% endblock %}
